---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">&#60;</a>
  {% else %}
    <span class="pagination-item older">&#60;</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">&#62;</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">&#62;</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">&#62;</span>
  {% endif %}



</div>

