<div class="brontofooter"><a href="/about">brontolabs 2017</a> / <a href="https://github.com/brontosaurusrex/brontosaurusrex.github.io/tree/master/_posts">github</a> / <a href="https://jekyllrb.com/docs/home/">jekyll</a> / <a href="http://prose.io/#brontosaurusrex/brontosaurusrex.github.io">prose.io</a></div>
