<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
<!--    <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="/">home</a> -->

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" or node.layout == "mine" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <a class="sidebar-nav-item" href="https://github.com/brontosaurusrex/brontosaurusrex.github.io/issues/new">comment</a>
    
    <a class="sidebar-nav-item" href="http://brontosaurusrex.github.io/home/boothome.htm">boothome</a>
    
    <a class="sidebar-nav-item" href="{{ site.url }}/blogmap">blogmap</a>
<!--    <a class="sidebar-nav-item" href="http://search.freefind.com/find.html?si=44774443">freefind</a> -->
    
    <!-- <span class="sidebar-nav-item">:)</span> -->
  </nav>

    <!-- google search by bronto --> 
    <div class="sidebar-item">
      <form method="get" action="https://www.google.com/search">
      <input autofocus placeholder="google this site" type="text" name="q" size="16" maxlength="255" value="">
      <input type="hidden" name="sitesearch" value="brontosaurusrex.github.io">
      </form>
    </div>
    <!--  end google search -->
    


    
    <!-- start of freefind search box html 

       <div class="sidebar-item">
		<form action="http://search.freefind.com/find.html" method="get" accept-charset="utf-8" target="_self">
		
		<input type="hidden" name="si" value="44774443">
		<input type="hidden" name="pid" value="r">
		<input type="hidden" name="n" value="0">
		<input type="hidden" name="_charset_" value="">
		<input type="hidden" name="bcd" value="&#247;">
		<input type="text" name="query" size="16" autofocus placeholder="freefind"> 

		</form>
	   </div>
            end of freefind search box html -->

    
</div>
