<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="layout-reverse">



    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
           <!-- <a href="/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small> < disabled by bronto--> 
          </h3> 
        </div>
        

            
      </div>

       
      

<a href="/"><img class="brontologo" src="/public/bronto.png" alt="brontologo"></a>

      <div class="container content">

		
      
        {{ content }}

        
          
      </div>
      
      {% include brontofoot.html %}
      
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

  </body>
</html>
