---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<!--
<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
-->
<!-- bronto: This are actually completely unrelated, so disabled -->
<div class="pagination">
   
   {% if page.previous.url %}
    <a class="pagination-item older" href="{{page.previous.url}}"><</a>
   {% endif %}
    
    
   {% if page.next.url %}
    <a class="pagination-item newer" href="{{page.next.url}}">></a>
   {% endif %}
  
</div>
